body {
    background-color: #79698A;
    max-width: 750px;
    margin: auto;
    align-content: center;
    color: #483A58;
    font-family: "Arial", sans-serif;
    font-size: 30px;
}

a {
    color: #79698A;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00C9AA;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.title {
    font-size: 90px;
    font-weight: 100;
    margin: 20px;
}

.headshot {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 150px;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #483A58;
    font-size: 40px;
    border-width: 10px;
    border-color: #483A58;
    border-top-style: solid;
    border-bottom-style: solid;
}

.nav_bar li {
    float: left;
}

.nav_bar li a {
    display: block;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    color: #FCEAFF;
    border-right-color: #FCEAFF;
    border-right-style: solid;
    border-right-width: 2px;
}

.contents {
    background-color: #FCEAFF;
    color: #483A58;
    min-height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #00C9AA;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    height: 100%;
}