body {
    background-color: #79698A;
    max-width: 750px;
    margin: auto;
    align-content: center;
    color: #483A58;
    font-family: "Arial", sans-serif;
    font-size: 24px;
}

a {
    color: #79698A;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #00C9AA;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.title {
    font-size: 90px;
    font-weight: 100;
    margin: 20px;
}

.headshot {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00C9AA;
    font-weight: bold;
    font-size: 36px;
}

.nav_bar li {
    background-color: #483A58;
    border-radius: 15px 15px 0px 0px;
    float: left;
}

.nav_bar li a {
    display: block;
    text-align: center;
    color: #FCEAFF;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar .current a {
    background-color: #FCEAFF;
    color: #483A58;
    border-radius: 15px 15px 0px 0px;
}

.contents {
    background-color: #FCEAFF;
    color: #483A58;
    min-height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #483A58;
    color: #FCEAFF;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    text-align: center;
}