:root {
    --background-colour: #000000;
    --header-colour: #A51414;
    --footer-colour: #A51414;
    --navbar-colour: #000000;
    --content-colour: #D4D3D3;
    --dark-font-colour: #000000;
    --light-font-colour: #FDFFFC;
    --link-font-colour: #A51414;
}

body {
    background-color: var(--background-colour);
    max-width: 800px;
    margin: auto;
    align-content: center;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 20px;
}

a {
    color: var(--link-font-colour);
}

table {
    width: 100%
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--header-colour);
    color: var(--light-font-colour);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.title {
    font-size: 85px;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 40px;
    font-weight: 100;
    margin: 0px;
}

.headshot {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 150px;
}

.nav_bar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: var(--navbar-colour);
    font-size: 40px;
    border-width: 10px;
    border-color: var(--navbar-colour);
    border-top-style: solid;
    border-bottom-style: solid;
}

.nav_bar li {
    float: left;
    border-left-color: var(--light-font-colour);
    border-left-style: solid;
    border-left-width: 2px;
}

.nav_bar li a {
    display: block;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    color: var(--light-font-colour);
}

.right_nav_button {
    border-right-color: var(--light-font-colour);
    border-right-style: solid;
    border-right-width: 2px;
}

.contents {
    background-color: var(--content-colour);
    color: var(--dark-colour);
    min-height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio_table td {
    height: 50px;
    vertical-align: middle;
}

.portfolio_source_image {
    margin-top: 2px;
    height: 26px;
    width: 26px;
    padding: 1px;
}

.email {
    text-align: center;
}

.profile_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 10px;
}

.profile_list li {
    padding-right: 10px;
}

.footer {
    background-color: var(--footer-colour);
    color: var(--light-font-colour);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
}

.footer a {
    color: var(--light-font-colour);
}